.mainnav{
    position:fixed;
    top: 0;
    width: 100%;
    height: 5vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;    
   
      
}

.navcontent{
    
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 55px;
    gap: 15%; 
    text-transform: uppercase;
    font-size: 1vmax;
    cursor: pointer;
}
.productnav{
   
    position:fixed;
    top: 0;
    right: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    
    width: 100%;
    height: 4vmax;
    margin-top: 20px;  
    text-transform: uppercase;
    font-size: 1vmax;
    z-index: 500      
    
}
.productcenternav{
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 50%;
    width: 3.5vmax;
    height: 3.5vmax;
    background-color:rgba(214, 213, 213, 0.504);  
    margin-left: 10%;
    backdrop-filter: blur(2px);
   
}
.prnavitem{
    display: flex;
    align-items: center;
    justify-content: center;
   font-size: 2vmax;
   color: black;
   
   height: 100%;
   width: 100%;
}
.prrightnavitem{
    display: flex;
    align-items: center;
    justify-content: center;
   font-size: 1vmax;
   color: black;
  
   height: 100%;
   width: 100%;
}

.prtotal{
    position: absolute;
    height: 1.5vmax;
    width: 1.5vmax;
    background-color: var(--kritiblue);
    font-family: 'inter',sans-serif;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;

    
}
.productcenternav:hover{
    background-color: var(--kritiyellow);
}
.productrightnav{
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 50%;
    width: 3.5vmax;
    height: 3.5vmax;
    background-color:rgba(228, 226, 226, 0.495);
    margin-right: 2%;
   backdrop-filter: blur(2px);
}
.productrightnav:hover{
    background-color: var(--kritiyellow);
}
.leftnav{
   
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius:18px ;
    border-bottom-right-radius: 18px;
    height: 100%;
    flex: 0.8;
    width: 100%;
    background-color: #FFF175;
    
}


.rightnav{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items:center ;
    border-radius: 18px;
    height: 100%;
    width: 100%;
    flex: 0.5;
    background-color:#FFF175;
    margin-right: 2%;
    
}

.centernav{
   
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items:center ;
    border-radius: 18px;
    flex: 3;
    height: 100%;
    /* width: 100%; */
    background-color: #FFF175;
    
}



@media screen and (max-width: 500px){
/* NAVBAR */
.mainnav{
    font-size: 13px;
}
.rightnav{
    flex: 1.2;
}
.leftnav{
   
    flex:1.2;
}
.centernav{
    flex:4;
}

}
