.checkoutmain{
    height: 100vh;
    width: 100%;
    background-color: var(--kritiblue);
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkouttop{
    margin-top: 5%;
    height: 77%;
    width: 92%;
    background-color: var(--kritiyellow);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1vw;
}
.checkoutleft{
    border-radius: 10px;
    flex: 1.8;
    background-color: var(--kritiyellow);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
.checkoutright{
    border-radius: 10px;
    flex: 1.3;
    background-color: var(--kritiyellow);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.lefttop{
    border-radius: 10px;
    background-color: white;
    width: 100%;
    height: 10%;
    display: flex;
   
    
    flex-direction: column;
    /* background-color: blue; */
}
.leftbottom{
    
    border-radius: 5px;
   
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    overflow: hidden;
    
   
}

.checkouttopitems{
   
    font-size: 1.5rem;
    font-weight: 500;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row-reverse;
   
}
.checkitemss{
    
    display: flex;
  
   height: 100%;
   justify-content: space-around;
   align-items: center;
   
    
}
.c2{
    color: #747474;
}

.c3{
    color: #747474;
}
.checkouticon{
    display: flex;
   align-items: center;
   gap: 0.5rem;
   flex-direction: row-reverse; 
   justify-content: center; 
   font-size: 1.7rem;
   font-weight: 500;
   
}


.righttop{
    border-radius: 10px;
    background-color: white;
    width: 100%;
    height: 80%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.rightcheckoutheading{
   
   /* color: rebeccapurple; */
    /* background-color: red; */
    height: fit-content;
    border-radius: 10px;
    font-size: 1.9rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    padding: 1rem 2.2rem;
   
}

.rightcheckoutheading span{
    color: #747474;
    font-weight: 400;
    font-size: 1.2rem;
}
.checkoutitemlist{
     background-color: white;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 90%;
    border-radius: 10px;
    overflow-y: scroll;

}
::-webkit-scrollbar{
    /* background-color: grey; */
    width: 0.5rem;
   
}
::-webkit-scrollbar-track {
    background: transparent;
    /* border-radius: 20px; */
   
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb {
    background:#d9d8d8 ;
 
    border-radius: 20px;
  
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(74, 73, 73);
  }
.checkoutitems{
   
    background-color: #f7f7f7;
    height: 40%;
    /* background-color: white; */
    display: flex;
    gap: 0.5rem;
    padding: 1rem 1rem;
  
    border-radius: 10px;
   
    
}
.checkoutimage{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    height: 100%;
    width: fit-content;
   
   
    /* background-color: yellow; */
}
.checkoutimage img{
    
    height: 100%;
    /* width: 100%; */
    object-fit:cover;
    border-radius: 10px;
    
    
}
.checkoutdetails{
    /* background-color: red; */
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;

}
.checkoutitemprice{
    /* background-color: blue; */
    font-family: 'inter';
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}
.checkoutproductdetail{
    font-size: 1.3rem;
    font-weight: 600;
    /* background-color: red; */
   height: 40%;
    width: 100%;
    text-transform: capitalize;
    padding-left: 5px;
}
.adddelete{
   
   height: 40%;
    margin-top: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 5px;
}
.quantity{
    height: 80%;
    background-color: var(--kritiyellow);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    width: 50%;
    flex-direction: row-reverse;
}
.deleteproduct{
    text-align: center;
    height: 80%;
    background-color: var(--kritiyellow);
    border-radius: 20px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.checkoutbtn{
    cursor: pointer;
    background-color: transparent;
    font-size: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    border: none;
    outline: none;
}
.quantity span{
    text-align: center;
    font-family: 'inter';
    font-size: 1.3  rem;
}
.itemprice{
    font-size: 1.3rem;
    font-weight: 800;
    color: #747474;
    padding-left: 5px;
   
}
.empty_cart{
    font-size: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightbottom{
    border-radius: 10px;
    background-color: white;
    padding: 1.3rem;
    
    height: 20%;
  display: flex;
}

.cart_total{
    display: flex;
    width: 100%;
    font-size: 1.5rem;
    /* background-color: blue; */
    flex-direction: column;
}
.totalitem{
    /* background-color: yellow; */
    font-weight: 500;
    font-size: 1.2rem;
    color: #747474;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.totalamount{
    margin-top: 1rem;
    font-size: 1.8rem;
    font-weight: 800;
    color: black;
}



.orderplace input{
    border: 1px solid #747474;
    background-color: #ffffff9b;
    border-radius: 10px;
    height: 4rem;
    width: 30rem;
    padding: 0 1rem;
    font-size: 1.6rem;
    outline: none;
    
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.orderplacebtn{
    height: 10%;
    width: 100%;
   gap: 1.7rem;
    position: absolute;
    bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.orderplacebtn button{
    border: none;
    background-color: var(--kritiyellow);
    height: 4rem;
    width: 15rem;
    font-size: 1.5rem;
    border-radius: 20px;
    filter: drop-shadow(#0000002f 0px 3px 2px)
}

.backplacebtn{
    height: 4%;
    width: 100%;
    gap: 1.7rem;
    position: absolute;
    right: 19%;
    top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backplacebtn button{
    border: none;
    background-color: var(--kritiyellow);
    height: 4rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 20px;
    filter: drop-shadow(#0000002f 0px 3px 2px)
}
.inputbtnadd{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    display: flex;
    gap: 1rem;
}
.nameinput input{
width: 13.5rem;
}


.order{
   /* background-color: pink; */
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    color: #747474;
    padding: 2rem;
   
    
}
.orderconfirm{
    font-size: 1.5rem;
    font-weight: 600;
   
}
.orderplace{
    position: relative;
    background-image: url('/Payment_Logo/productsss.webp');
    background-size:cover;
  
    background-repeat: no-repeat;
   
    height: 85%;
    width: 100%;
    
}
.checklayer{
height: 100%;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
backdrop-filter: blur(3px);
}

.placeorderdetail{
    width: 30rem;
    height: 50%;
    border-radius: 10px;
    background-color: #ffffffcb;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}
.placeorderheading{
    font-size: 2rem;
    width: 100%;
    height: 10%;
    text-align: center;
    font-weight: 500;
}
.orderdetailscheck{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 0 2rem;
}

.placeordername{
    font-size: 2rem;
    width: 100%;
    font-weight: 500;
    margin-bottom: 1rem;
   
}
.placeorderemail{
    font-size: 1.3rem;
    width: 100%;
    font-weight: 500;
    
}
.placeordernumber{
    font-size: 1.3rem;
    width: 100%;
    font-weight: 500;
    margin-bottom: 1rem;
}
.placeordeaddress1{
    font-size: 1.3rem;
    width: 100%;
}
.placeordeaddress2{
    font-size: 1.2rem;
    width: 100%;
}
.placeordeaddress3{
    font-size: 1.2rem;
    width: 100%;
}
.paymentlogo{
    background-color: white;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
   
  
}
.logospay{
    height: 100%;
    width: 100%;
    margin-top: 0.4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
    /* background-color: purple; */
    
}
.paylogo{
    height: 3.5rem;
    width: 3.5rem;
    
   /* background-color: hotpink; */
   
    
}


.paylogo img{
    
    height: 100%;
    width: 100%;
    /* aspect-ratio: 16/9; */
    object-fit: contain;
    
   filter: contrast(25%);
   filter: saturate(0);
   

}
.support{
    /* background-color: green; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 600;
    font-size: 1rem;
    color: #747474;


}

.loadbar{
    transform: rotate(90deg);
}

.checkoutheading{
    padding: 1rem;
    /* background-color: red; */
    font-weight: 500;
    font-size: 1.4rem;
  
}

@media screen and (min-width:320px)and (max-width:768px){
    .checkoutmain{
        height: 180vh;
    }
    .checkouttop{
        flex-direction: column-reverse;
        height: 90%;
        gap: 7rem;
        margin-top: 20%;
    }
    .checkoutleft{
        height: 50%;
        flex: none;
    }
    .checkoutright{
        height: 50%;
        flex: none;
    }
    .checkouttopitems{
        gap: 0;
        
        width: fit-content;
    }
    .checkouticon{
        font-size: 2vmax;
    }
    .leftbottom{
        height: 90%;
    }
    .orderplace input{
        width: 70%;
        height: 100%;
        font-size: 2.5vmax;
        padding: 0 2rem;
    }
    .nameinput{
        display: flex;
        flex-direction: column;
        gap: 5rem;
        height: 24% !important;
        justify-content: center !important;
        align-items: center !important;
        /* height: 28%; */
    }
    .nameinput input{
        height: 15rem;
    }
    .backplacebtn{
        height:10%;
        top:5%;
        right: 32%
    }
    .backplacebtn button{
        height: 100%;
        width: 10rem;
        font-size: 2vmax;
    }
    .orderplacebtn button{
        font-size: 2.5vmax;
        height: 100%;
        width: 73%;
    }
    .inputbtnadd{
        
        display: flex;
        align-items: flex-start;
        height: 10%;
        
    }
    .checklayer{
        gap: 5rem;
    }
    .support{
        font-size: 2vmax;
    }
    .paylogo{
        height: 8rem;
        width: 8rem;
    }
    .rightcheckoutheading{
        font-size: 2.5vmax;
    }
    .rightcheckoutheading span{
        font-size: 2vmax;
    }
    .checkoutproductdetail{
        font-size: 2vmax;
    }
    .itemprice{
        font-size: 2vmax;
    }
    .adddelete{
       
        justify-content: flex-start;
        gap: 2rem;
    }
    .deleteproduct{
        width: 30%;
        height: 70%;
        
    }
    .quantity{
        height: 70%;
        width: 60%;
       
        font-size: 2vmax;
    }
    .quantity span{
        height: fit-content;
        width: fit-content;

    }
    .checkoutbtn{
        height: fit-content;
        width: fit-content;
        font-size: 3vmax;
    }
    .cart_total{
        font-size: 2vmax;
    }
    .totalitem{
        font-size: 2vmax;
    }
    .totalamount{
        font-size: 2.5vmax;
    }

    .placeorderdetail{
        width: 50rem;
        height: 50%;
    }
    .placeorderheading{
        font-size: 2.5vmax;
    }
    .placeordername{
        font-size: 2vmax;
    }
    .placeorderemail{
        font-size: 2vmax;
    }
    .placeordernumber{
        font-size: 2vmax;
    }
    .placeordeaddress1{
        font-size: 2vmax;
    }
    .placeordeaddress2{
        font-size: 2vmax;
    }
    .placeordeaddress3{
        font-size: 2vmax;
    }
}